@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<head>
    <style>
        table, th, td {
            border: 1px solid black;
            width: 100%;
            padding: 15px;
        }
    </style>
</head>
<body>

    <table>
        <tr>
            <th>Racer Name</th>
            <th>Boat Name</th>
            <th>Boat Number</th>
        </tr>
        @foreach (SailingWeb.Data.Boats boat in SQL.GetRacers())
        {
            <tr>
                <td>@boat.name</td>
                <td>@boat.boatName</td>
                <td>@boat.boatNumber</td>
            </tr>

        }


    </table>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Event notes</th>
            <th>Event date/time</th>
        </tr>

        @for (int i = 0; i < Program.Globals.Event1.Items.Count; i++)
        {
            @if (Program.Globals.Event1.Items[i].Summary != null)
            {
        <tr>



            <td> @Program.Globals.Event1.Items[i].Summary </td>
            <td>@Program.Globals.Event1.Items[i].Description</td>
            <td> @Program.Globals.Event1.Items[i].Start.DateTimeRaw</td>
        </tr>
            }
            else
            {
                <tr>

                    <td> null entry </td>
                    <td> null entry </td>
                    <td> null entry </td>
                </tr>
            }
        }



    </table>

</body>

