@page
@using Google.Apis.Calendar.v3.Data
@model SailingWeb.Pages.DisplaycalendardataModel
@{
    ViewData["Title"] = "Displaycalendardata";
}

<h2>Displaycalendardata</h2>
<form method="post">
    <div><label for="cal">Manage Calendar Data: </label></div>
    <div id="cal"><input type="submit" value="Enter calendar into database?" /></div>
</form>

<table id="table2">
        <tr>
            <th>Event Name</th>
            <th>Event notes</th>
            <th>Event date/time</th>
        </tr>

        @foreach (var t in Program.Globals.Event1.Items)
        {
            try
            {

                /*@*/if (t.Summary != null)
                {
                    if (t.Start.DateTime.Value.Year >= 2018)
                    {
                        <tr>



                            <td> @t.Summary </td>
                            <td>@t.Description</td>
                            @if (t.Start.DateTime != null)
                            {
                                <td> @t.Start.DateTime</td>
                            }

                            else {if (t.Start.DateTime.HasValue)
                            {
                                <td> @t.Start.DateTime.Value</td>
                            }
                            else
                            {

                                <td> null entry </td>
                                <td> null entry </td>
                                <td> null entry </td>
                            }
                            }

                        </tr>
                    }
                    else
                    {
                        throw new InsufficientExecutionStackException();
                    }
                }
                else
                {
                    <tr>

                        <td> null entry </td>
                        <td> null entry </td>
                        <td> null entry </td>
                    </tr>

                }



            }
            catch
            {

                /*@*/if (t.Summary != null)
                {
                    if (t.Start.DateTime.Value.Year >= 2018)
                    {
                        <tr>



                            <td> @t.Summary </td>
                            <td>@t.Description</td>
                            @if (t.Start.Date != null)
                            {
                                <td> @t.Start.Date</td>
                            }

                            else {if (t.Start.DateTime.HasValue)
                            {
                                <td> @t.Start.DateTime.Value.Date</td>
                            }
                            }


                        </tr>
                    }
                }
                else
                {
                    <tr>

                        <td> null entry </td>
                        <td> null entry </td>
                        <td> null entry </td>
                    </tr>
                }



            }
        }


    </table>

