@page
@model RazorPagesContacts.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Enter race</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    @if (Program.Globals.alerttext != "")
    {
        <script language="javascript">
            var r = confirm('@Program.Globals.alerttext');
            if (r == true) {
                alert("You have been removed from the race.")
                @if (1 == 1)
                {
                    SQL.RemoveBoats(Program.Globals.removeboat);
                    Program.Globals.removeboat = new Data.Boats();
                    Program.Globals.Boat = new Data.Boats();
                    Program.Globals.Crew = "";
                    Program.Globals.askedCrew = 0;
                }

            }
            else {
                                @if (1 == 1)
                                {
                                    Program.Globals.response = false;
                                }
            }
        </script>
        Program.Globals.alerttext = "";
    }
    @if (Program.Globals.removeboat.name != null)
    {
        <div><a style="font-size:50px" asp-page="/Remove Boat">Remove yourself from the race?</a></div>
    }
        <form method="POST">
            <div asp-validation-summary="All"></div>
            @if (Program.Globals.Boat.name == null && SQL.todaysevent().Count == 1 || Program.Globals.Boat.name == null && Program.Globals.racename != "")
            {

                <label for="autocomplete">Enter your name: </label>
                <input asp-for="Boats.name" id="autocomplete" value=""/>
                <script type="text/javascript">
 
        $("#autocomplete").autocomplete({
                    source: [ '@Html.Raw(string.Join("', '", SQL.GetNames()))' ]
        }
            );

                </script>
            }

            else if (SQL.todaysevent().Count == 0)
            {
                <p1>I'm afraid there is no race on today.</p1>

            }
            else if (Program.Globals.racename == "")
            {

                <select asp-for="race">
                    @foreach (var race in SQL.todaysevent())
                    {
                        <option value="@race">@race</option>
                    }
                </select>
                <input type="submit" />

            }
            @if (Program.Globals.Boat.name != null && Program.Globals.Boat.boatName == null)
            {

                <div>
                    <select id="select" asp-for="Boats.boatName">

                        @for (int i = 0; i < RazorPagesContacts.Pages.CreateModel.countofboats(); i++)
                        {


                            <option value="@RazorPagesContacts.Pages.CreateModel.selectbox(i)">@RazorPagesContacts.Pages.CreateModel.selectbox(i)</option>
                        }
                    </select>
                    <input type="submit" />
                </div>
            }


            @if (Program.Globals.Boat.boatName != null)
            {
                if (SQL.GetCrew(Program.Globals.Boat.boatName.ToUpper()) == 2)
                {
                    Program.Globals.askedCrew = 1;

                    <label for="autocomplete1">If you have a crew, enter their name here: </label>
                    <input asp-for="Crew" id="autocomplete1" />
                    <script type="text/javascript">

        $("#autocomplete1").autocomplete({
                        source: [ '@Html.Raw(string.Join("', '", SQL.GetNames()))' ]
        }
            );


                    </script>

                }
            }

        </form>
    <div><a asp-page="/New Boat">Bought a new boat?</a></div>
    @if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
        <script> alert("@ViewBag.AlertMessage");</script>}
</body>

</html>
