@page
@using System.Security.Policy
@model RazorPagesContacts.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/enterrace.css" />
    <style>
        #submit {
            margin-top: 10px;
        }

        #autcompletediv {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 20px;
            margin-left: 20px;
        }
    </style>
    <meta charset="utf-8">
    <title>Enter race</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js
"></script>
</head>
<body>
    <form method="POST" id="submit1">

        @if (ViewData["SetAndEntered"] != null)
        {
            SailingWeb.Data.BoatsTidy obj = (SailingWeb.Data.BoatsTidy)ViewData["SetAndEntered"];
            <script>

            bootbox.prompt({
                title: "Your boat have been added to our records, would you also " +
                    "  like to be entered into the race? If you have a crew, could you" +
                " enter their name here, or leave blank.",
                inputType: 'text',
                callback: function (result) {
                    $.ajax({
                        url: "/Folder/NewRacer",
                        data: {
                            boat: '@Html.Raw(Json.Serialize(obj))', cal: '@Html.Raw(Json.Serialize(ViewData["Calendar"]))', crew: result
                        },
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: {
                            function() {
                                bootbox.alert("You have been entered into the race");
                            }
                        }
                    });
                        }
            </script>
        }
        else if (ViewData["SetBoat"] != null)
        {
            if ((bool)ViewData["Alreadyin"])
            {


                <script>
                                                                                                                                                                                                        bootbox.alert("You have been entered into the race")
                </script>
            }
            else
            {
                <script>
            bootbox.confirm("You have already been added to the race. Would you like to remove yourself?",
                function (response) {
            if (response) {
                $.ajax({
                    url: "/Folder/RemoveBoatPrompt",
                    data: {
                    boat: '@Html.Raw(Json.Serialize(ViewData["SetBoat"]))', cal: '@Html.Raw(Json.Serialize(ViewData["Calendar"]))'},
                    headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                                    success:
                                        function() {
                                            bootbox.alert("You have been entered into the race");

                                    }
                    });
                    }
                    });
                </script>
            }
        }
        else if (ViewData["SetCrew"] != null)
        {
            if ((bool)ViewData["Alreadyin"])
            {
                <script>
                    bootbox.alert("You have been entered into the race with your crew.")
                </script>
            }
            else
            {
                <script>
            bootbox.confirm("You have already been added to the race. Would you like to remove yourself?",
                function (response) {
                if (response) {
                                $.ajax({
                        url: "/Folder/RemoveBoatPrompt",
                        data: {
                            boat: '@Html.Raw(Json.Serialize(ViewData["SetCrew"]))', cal: '@Html.Raw(Json.Serialize(ViewData["Calendar"]))'},
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: {
                            bootbox.alert("You have been removed from the race");
                        }
                    });
                }
            }
                </script>
            }
        }

        @if (!Program.Globals.Todaysevents.Any())
        {
            <p1>I'm afraid there is no race on today.</p1>
        }
        else
        {
            <select asp-for="@Model.Race">
                @foreach (Calendar race in Program.Globals.Todaysevents)
                {
                    <option value="@string.Concat(race.Summary, "abc123", race.DateTime)">
                        @race.Summary, @string.Format("{0}:{1}", race.DateTime.TimeOfDay.Hours < 10? "0" + race.DateTime.TimeOfDay.Hours.ToString() : race.DateTime.TimeOfDay.Hours.ToString(), race.DateTime.TimeOfDay.Minutes == 0 ? "00" : race.DateTime.TimeOfDay.Minutes.ToString())
                    </option>
                }
            </select>
            <!--<div asp-validation-summary="All"></div>-->
            <!--If there is only one race today and they haven't entered their name or they
            haven't entered their name but have entered the race from dropdown, ask their name.-->

            <div></div>
            <div class="col-3 input-effect" style="display:flex">
                <input asp-for="Boats.Name" style="padding-top:10px" class="effect-17 input-lg" id="autocomplete" value="" />

                <label style="font-size:large">Helm name </label>
                <span class="focus-border"></span>
            </div>
            <div style="text-align:center"><a asp-page="/New Boat"><font size="3">Name not in list? Click here.</font></a></div>
            <label style="color:#aaa; font-size:large;"class="form-check-label" for="select">Boat class: </label>
            <select id="select" class="form-control input-lg" asp-for="Boatandnumber"></select>
            <!--TODO Ajaxify.-->



            <div id="autcompletediv" style="display:none">
                <label for="autocomplete2">New boat class: </label>
                <input asp-for="Response1.BoatName" id="newboatautocomplete" />
                <label for="autocomplete2">Boat number: </label>
                <input asp-for="Response1.BoatNumber" />
                <label for="autocomplete2">Your Py: </label>
                <input asp-for="Response1.Py" id="pyautocomplete" />
                <input type="submit" />
            </div>


            <div>
                <div class="col-3 input-effect" style="display:flex">
                    <input asp-for="Crew" class="effect-17 input-lg" id="autocomplete1" />

                    <label  style="font-size:large" >Crew name (or leave blank) </label>
                    <span class="focus-border"></span>
                </div>
                <div class="col-3 input-effect" style="display:flex">
                    <input asp-for="Boats.Notes" class="effect-17 input-lg" id="autocompletenotes" />

                    <label style="font-size:large">Notes (or leave blank) </label>
                    <span class="focus-border"></span>
                </div>
            </div>

            <div>
                <button type="button" id="submiter" onclick="errorhandling()" class="btn-lg btn-primary">Enter</button>
            </div>
            @functions{
                public string[] Returnclass()
                {
                    List<string> returnlist = new List<string>();
                    var list = Sql.ReturnClass();
                    foreach (var item in list)
                    {
                        returnlist.Add(item.BoatName);

                    }
                    return returnlist.ToArray();


                }
            }
            <script>

                                $(window).load(function () {
                        $(".col-3 input").val("");

                        $(".input-effect input").focusout(function () {
                            if ($(this).val() != "") {
                                $(this).addClass("has-content");
                            } else {
                                $(this).removeClass("has-content");
                            }
                        })
                    });

                                        $("#newboatautocomplete").autocomplete({
            source: ['@Html.Raw(string.Join("', '", Returnclass()))']
                });

                function ajax3() {
            var str;

                    $.ajax({
                url: "/Folder/GetNames",
                        data: { name: document.getElementById("autocomplete").value },
                        headers: {
                    RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },

                    }).done(function (resulting) {
                str = resulting;
            });

            return str;

        }



                   // $("#autocomplete1").autocomplete({
                  //      source: function (request, response) {
                 //           response(ajax3());

                  //  });

                    $("#autocomplete1").autocomplete({
            source: ['@Html.Raw(string.Join("', '", Sql.GetNames()))']
                    });

                /*
                $("#autocomplete1").autocomplete({
                    source:
                        function (request, response) {
                            $.ajax({
                                url: "/Folder/GetNames",
                                data: { name: document.getElementById("autocomplete").value },
                                headers: {
                                    RequestVerificationToken:
                                        $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                                success: function (data) {
                                    response(data);

                                }
                            })
                        }


                    });
                        */

                    $("#autocomplete").autocomplete({
            source: ['@Html.Raw(string.Join("', '", Sql.GetNames()))'],
                        close: function () { ajax1(); }
        });




            </script>

            <script>
                function ajax2() {
                    $.ajax({
                        url: "/Folder/GetClasses",
                        data: { name: document.getElementById("newboatautocomplete").value },
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        }
                    }).done(function (resulting) {
                        document.getElementById("pyautocomplete").value = resulting.py;

                    })
                };

                function ajax1() {
                    $.ajax({
                        url: "/Folder/GetAll",
                        data: { name: document.getElementById("autocomplete").value },
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (resulting) {
                            document.getElementById("select").options.length = 0
                            resulting.forEach(function (arrayElem) {
                                var option = document.createElement("option");
                                var str = arrayElem.boatName;
                                var str1 = str.concat(", ")
                                option.text = str1.concat(arrayElem.boatNumber);
                                option.value = str1.concat(arrayElem.boatNumber);
                                document.getElementById("select").add(option);
                            })

                            if (resulting.length != 0) {
                                var option = document.createElement("option");
                                option.text = "New boat";
                                option.value = "test";
                                document.getElementById("select").add(option);
                            }
                        }
                    });
                }

                document.getElementById("select").onchange = function () {
                    if (document.getElementById("select").value == "test") {
                        document.getElementById("autcompletediv").style.display = "block";


                    }
                    else {
                        document.getElementById("autcompletediv").style.display = "none";

                    }

                }
                document.getElementById("autocomplete").onblur = function () {
                    ajax1();
                }

                document.getElementById("autocomplete").onkeyup = function () {
                    ajax1();
                }
                document.getElementById("newboatautocomplete").onblur = function () {
                    ajax2();
                }

                document.getElementById("newboatautocomplete").onkeyup = function () {
                    ajax2();
                }
                function errorhandling() {
                    if (document.getElementById("autocomplete").value == "" ||
                        document.getElementById("select").options.length == 0
                    ) {
                        bootbox.alert("You must enter all data.")
                    }
                    else {
                        document.getElementById("submit1").submit();
                    }
                }
            </script>



        }


    </form>
    <!--<div><a asp-page="/New Boat">Bought a new boat/New to the club?</a></div>-->

</body>

</html>
