@page
@using System.Security.Policy
@model RazorPagesContacts.Pages.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Enter race</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#dialog").dialog();
        });
    </script>
</head>
<body>

    @if (Program.Globals.Alerttext != "")
    {
        <!-- JS dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- bootbox code -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
        if (Program.Globals.Removeboat.Name == null)
        {
            <script>
                                    bootbox.alert({
                        size: "small",
                message: "@Program.Globals.Alerttext"
                    })
            </script>

        }
        else
        {
            <script>


                    bootbox.confirm({
                        size: "small",
                message: "@Program.Globals.Alerttext",
                callback: function(result) {
                            if (result) {
                                @if (1 == 1)
                                {
                                    Sql.RemoveBoats(Program.Globals.Removeboat, Program.Globals.Racename.Summary);

                                }

                            }
                            else {
                                @if (1 == 1)
                                {
                                    Program.Globals.Response = false;
                                }
                            }
                        }
                    })


            </script>
        }
        Program.Globals.Removeboat = new Data.BoatsTidy();
        Program.Globals.Alerttext = "";
    }


    <form method="POST">
        @if (!Program.Globals.Todaysevents.Any())
        {
            <p1>I'm afraid there is no race on today.</p1>
        }
        else
        {
            <select asp-for="@Model.Race">
                @foreach (Calendar race in Program.Globals.Todaysevents)
                {
                    <option value="@race.Summary">@race.Summary, @race.DateTime.TimeOfDay</option>
                }
            </select>
            <!--<div asp-validation-summary="All"></div>-->
            <!--If there is only one race today and they haven't entered their name or they
            haven't entered their name but have entered the race from dropdown, ask their name.-->

            <div></div>
            <label for="autocomplete">Helm name: </label>
            <input asp-for="Boats.Name" id="autocomplete" value="" />


            <select id="select" asp-for="Boatandnumber"></select><a asp-page="/New Boat">Not in list? Click here.</a>
            <!--TODO Ajaxify.-->



            <div id="autcompletediv" style="display:none">
                <label for="autocomplete2">New boat class: </label>
                <input asp-for="Response1.BoatName" id="newboatautocomplete" />
                <label for="autocomplete2">Boat number: </label>
                <input asp-for="Response1.BoatNumber" />
                <label for="autocomplete2">Your Py: </label>
                <input asp-for="Response1.Py" id="pyautocomplete" />
                <input type="submit" />
            </div>


            <div>
                <label for="autocomplete1">Crew name (or leave blank): </label>
                <input asp-for="Crew" id="autocomplete1" />
                <label for="autocomplete1">Notes (or leave blank): </label>
                <input asp-for="Boats.Notes" id="autocompletenotes" />
            </div>
            <div>
                <input type="submit" />
            </div>
            @functions{
                public string[] Returnclass()
                {
                    List<string> returnlist = new List<string>();
                    var list = Sql.ReturnClass();
                    foreach (var item in list)
                    {
                        returnlist.Add(item.boatName);

                    }
                    return returnlist.ToArray();


                }
            }
            <script>


                                        $("#newboatautocomplete").autocomplete({
    source: ['@Html.Raw(string.Join("', '", Returnclass()))']
});
                    $("#autocomplete1").autocomplete({
    source: ['@Html.Raw(string.Join("', '", Sql.GetNames()))']
});
                    $("#autocomplete").autocomplete({
                        source: ['@Html.Raw(string.Join("', '", Sql.GetNames()))'],
                        close: function () { ajax1(); }
                    });




            </script>

            <script>
                function ajax2() {
                    $.ajax({
                        url: "/Folder/GetClasses",
                        data: { name: document.getElementById("newboatautocomplete").value },
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        }
                    }).done(function (resulting) {
                        document.getElementById("pyautocomplete").value = resulting.py;

                    })
                };

                function ajax1() {
                    $.ajax({
                        url: "/Folder/GetAll",
                        data: { name: document.getElementById("autocomplete").value },
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        }
                    }).done(function (resulting) {
                        document.getElementById("select").options.length = 0
                        resulting.forEach(function (arrayElem) {
                            var option = document.createElement("option");
                            var str = arrayElem.boatName;
                            var str1 = str.concat(", ")
                            option.text = str1.concat(arrayElem.boatNumber);
                            option.value = str1.concat(arrayElem.boatNumber);
                            document.getElementById("select").add(option);
                        })

                        if (resulting.length != 0) {
                            var option = document.createElement("option");
                            option.text = "New boat";
                            option.value = "test";
                            document.getElementById("select").add(option);
                        }
                    });
                }

                document.getElementById("select").onchange = function () {
                    if (document.getElementById("select").value == "test") {
                        document.getElementById("autcompletediv").style.display = "block";


                    }
                    else {
                        document.getElementById("autcompletediv").style.display = "none";

                    }

                }
                document.getElementById("autocomplete").onblur = function () {
                    ajax1();
                }

                document.getElementById("autocomplete").onkeyup = function () {
                    ajax1();
                }
                document.getElementById("newboatautocomplete").onblur = function () {
                    ajax2();
                }

                document.getElementById("newboatautocomplete").onkeyup = function () {
                    ajax2();
                }
            </script>



        }

    </form>
    <div><a asp-page="/New Boat">Bought a new boat/New to the club?</a></div>

</body>

</html>
