@page
@model SailingWeb.Pages.Folder.FinishRaceModel
@{
    ViewData["Title"] = "FinishRace";
}
@using static RaceHelpers;
<html>
<head>
    <style>

        table, th, td {
            border: 1px solid black;
            padding: 5px;
            width: 200px;
            overflow: auto;
            overflow-y: visible;
        }
    </style>
    <meta http-equiv="refresh" content="5">
</head>
<body>
    <h2>FinishRace</h2>
    <div id="table-wrapper">
        <table id="table1">
            <tr>
                <th>Helm</th>
                <th>Crew</th>
                <th>Boat Name</th>
                <th>Boat Number</th>

                <th>Corrected Time</th>
                <th>Place</th>
                @for (int i = (Sql.NoOfLaps(ManageRaceModel.RaceNameStatic)); i > (0); i--)
                {
                    <th>@String.Concat("Lap ", i)</th>
                }
            </tr>
            @if (1 == 1)
            {
                var u = 0;
                @foreach (var person in Sql.GetRacers(ManageRaceModel.RaceNameStatic))
                {
                    <tr>
                        <td id="@u" data-internalid="@u" data-string="@Html.Raw(Json.Serialize(person)).ToString()">@person.Name</td>
                        <td>@person.Crew</td>
                        <td>@person.Boat</td>
                        <td>@person.BoatNumber</td>

                        <td>@Sql.CorrectedTime(ManageRaceModel.RaceNameStatic, person).ToString(@"d\:hh\:mm\:ss")</td>


                        <td>
                            @(Sql.PlaceOf(ManageRaceModel.RaceNameStatic, person))
                        </td>



                        @for (int i = Sql.NoOfLaps(ManageRaceModel.RaceNameStatic); i > (0); i--)
                        {
                            try
                            {
                                if (Sql.GetLaps(person, ManageRaceModel.RaceNameStatic).Where(x => x.LapNumber.Equals(i)).First().LapNumber == i)
                                {
                                    <td onclick="editLap(@Html.Raw(Json.Serialize(person)).ToString(), @i, '@Sql.GetLaps(person, ManageRaceModel.RaceNameStatic).Where(x => x.LapNumber.Equals(i)).FirstOrDefault().LapTime');">
                                        @Sql.GetLaps(person, ManageRaceModel.RaceNameStatic).Where(x => x.LapNumber.Equals(i)).FirstOrDefault().LapTime.ToString(@"d\:hh\:mm\:ss")

                                    </td>
                                }
                            }
                            catch
                            {
                                <td></td>

                            }
                        }


                    </tr>
                    u++;
                }

            }
        </table>
    </div>


</body>
</html>
