@page
@model SailingWeb.Pages.Folder.FinishRaceModel
@{
    ViewData["Title"] = "FinishRace";
}
@using static RaceHelpers;
<html>
<head>
    <style>

        table, th, td {
            border: 1px solid black;
            padding: 5px;
            width: 200px;
            overflow: auto;
            overflow-y: visible;
        }
    </style>
    <meta http-equiv="refresh" content="5">
</head>
<body>
<h2>FinishRace</h2>
<div id="table-wrapper">
    <table id="table1">
        <tr>
            <th>Helm</th>
            <th>Crew</th>
            <th>Boat Name</th>
            <th>Boat Number</th>
            <th>Py</th>
            <th>Notes</th>
            <th>Corrected Time</th>
            <th>Place</th>
            @for (int i = NoOfLaps(ManageRaceModel.Race); i > (0); i--)
            {
                <th>@String.Concat("Lap ", i)</th>
            }
        </tr>
        @if (1 == 1)
        {
            var u = 0;
            for (int a = 1; a < ManageRaceModel.Race.Item2.Count + 1; a++)
            {
                try
                {
        <tr>
            <td>@ReturnBoatFromPos(a, ManageRaceModel.Race).Name</td>
            <td>@ReturnBoatFromPos(a, ManageRaceModel.Race).Crew</td>
            <td>@ReturnBoatFromPos(a, ManageRaceModel.Race).Boat</td>
            <td>@ReturnBoatFromPos(a, ManageRaceModel.Race).BoatNumber</td>
            <td>@ReturnBoatFromPos(a, ManageRaceModel.Race).Py</td>
            <td>@ReturnBoatFromPos(a, ManageRaceModel.Race).Notes</td>
            <td>@CorrectedTime(ReturnBoatFromPos(a, ManageRaceModel.Race), ManageRaceModel.Race).ToString(@"hh\:mm\:ss")</td>


            <td>
                @a
            </td>



            @for (int i = NoOfLaps(ManageRaceModel.Race)-1; i > (-1); i--)
            {
                try
                {
                    foreach (KeyValuePair<SailingWeb.Data.BoatsTidy, List<SailingWeb.Data.BoatLap>> x in ManageRaceModel.Race.Item2)
                    {
                        if (x.Key.Boat.Equals(ReturnBoatFromPos(a, ManageRaceModel.Race).Boat) && x.Key.BoatNumber.Equals(ReturnBoatFromPos(a, ManageRaceModel.Race).BoatNumber)
                                && x.Key.Crew.Equals(ReturnBoatFromPos(a, ManageRaceModel.Race).Crew) &&
                                x.Key.Name.Equals(ReturnBoatFromPos(a, ManageRaceModel.Race).Name) && x.Key.Notes.Equals(ReturnBoatFromPos(a, ManageRaceModel.Race).Notes) &&
                                x.Key.Py.Equals(ReturnBoatFromPos(a, ManageRaceModel.Race).Py))
                        {
                            if (x.Value[i].LapNumber == i+1)
                            {
                                <td>
                                    @ManageRaceModel.Race.Item2[ReturnBoatFromPos(a, ManageRaceModel.Race)][i].LapTime.ToString(@"hh\:mm\:ss")

                                </td>}
                        }
                    }

                }
                catch
                {
                    <td></td>

                }
            }


        </tr>
                }
                catch
                {


                }
                u++;
            }

        }
    </table>
</div>

    
    </body>
</html>
