@page
@model SailingWeb.Pages.ManageRaceModel
@{
    ViewData["Title"] = "ManageRace";
}
@using static RaceHelpers;
<h2>Manage Race</h2>

<html>
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <style>

        table, th, td {
            border: 1px solid black;
            padding: 5px;
            width: 200px;
            overflow: auto;
            overflow-y: visible;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/js/bundle.js" type="text/javascript">
        // index.js is the transpiled index.ts
        //SystemJS.import('/js/managerace.js');
    </script>
</head>
<body>


    @if (ManageRaceModel.RaceNameStatic == null)
    {
        <form method="POST">
            <select id="select" class="form-control" asp-for="RaceName">
                @foreach (Calendar race in Program.Globals.Todaysevents)
                {
                    <option value="@string.Concat(race.Summary, "abc123", race.DateTime)">@race.Summary, @race.DateTime.TimeOfDay</option>
                }
            </select>
            <input type="submit" />
        </form>
    }
    else
    {
        <div>

            <button style="visibility:collapse; display:none;" id="startracebutton" onclick="startrace()" class="btn btn-primary">Click to start race.</button>
            <form id="submit" style="display:inline" method="get">
                <button style="display:inline" type="submit" class="btn btn-success">Refresh</button>
            </form>

            <button style="display:inline" onclick="removerace()" class="btn btn-danger">Remove race</button>
            <form method="get" style="display:inline" action="/FinishRace">
                @if (NoOfLaps(ManageRaceModel.Race) != 0)
                {
                    <button style="display:inline" type="submit" class="btn btn-link">Finish race</button>
                }
                else
                {
                    <button style="display:none" id="finishbutton" type="submit" class="btn btn-link">Finish race</button>

                }
            </form>
            <a href="~/json/race.json" download>Download race here</a>
        </div>
        <p id="demo">Elapsed Time: </p>
        <div id="table-wrapper">
            <table id="table1">
                <tr>
                    <th>Helm</th>
                    <th>Crew</th>
                    <th>Boat Name</th>
                    <th>Boat Number</th>
                    <th>Lap</th>
                    <th>Py</th>
                    <th>Notes</th>
                    <th>Corrected Time</th>
                    <th>Place</th>
                    @for (int i = NoOfLaps(ManageRaceModel.Race); i > (0); i--)
                    {
                        <th>@String.Concat("Lap ", i)</th>
                    }
                </tr>
                @if (1 == 1)
                {
                    var u = 0;
                    @foreach (KeyValuePair<Data.BoatsTidy, List<Data.BoatLap>> key in ManageRaceModel.Race.Item2)
                    {
                        <tr>
                            <td id="@u" data-internalid="@u" data-string="@Html.Raw(Json.Serialize(key.Key)).ToString()">@key.Key.Name</td>
                            <td>@key.Key.Crew</td>
                            <td>@key.Key.Boat</td>
                            <td>@key.Key.BoatNumber</td>
                            <td>
                                <button class="btn" data-int="@u" onclick="
                                newlap(@Html.Raw(Json.Serialize(key.Key)).ToString(), this.getAttribute('data-int'));">
                                    Lap
                                </button>

                            </td>
                            <td>@key.Key.Py</td>
                            <td>@key.Key.Notes</td>
                            <td>@CorrectedTime(key.Key, ManageRaceModel.Race).ToString(@"hh\:mm\:ss")</td>


                            <td>
                                @(PlaceOf(key.Key, ManageRaceModel.Race))
                            </td>



                            @for (int i = NoOfLaps(ManageRaceModel.Race); i > (0); i--)
                            {
                                try
                                {
                                    if (key.Value.Where(x => x.LapNumber.Equals(i)).First().LapNumber == i)
                                    {
                                        <td onclick="editLap(@Html.Raw(Json.Serialize(key.Key)).ToString(), @i, '@key.Value.Where(x => x.LapNumber.Equals(i)).FirstOrDefault().LapTime');">
                                            @key.Value.Where(x => x.LapNumber.Equals(i)).FirstOrDefault().LapTime.ToString(@"hh\:mm\:ss")

                                        </td>
                                    }
                                }
                                catch
                                {
                                    <td></td>

                                }
                            }


                        </tr>
                        u++;
                    }

                }
            </table>
        </div>

    }



    <div style="display:none" id="dialog-form" title="Edit data.">
        <form>
            <fieldset>
                <label for="password">Change time</label>
                <input name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
    <!--<script src="~/js/managerace.js"></script>-->
    <!--<p onclick="document.getElementById('submit1').submit();">There was an error, try refreshing?</p>-->
    <script>
        onloader();
        function onloader() {
            $.ajax({
                url: "/Folder/GetStartTime",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (resulting) {
                    if (resulting != 0) {
                        console.log("Set repeating function");
                        myTimer(resulting);
                    }
                    else {
                        try {
                            document.getElementById("startracebutton").style.visibility = "visible";
                            document.getElementById("startracebutton").style.display = "block";
                        }
                        catch{
                            console.log("button doesnt exist")
                        }
                    }


                }
            });

        }
    </script>

</body>

</html>