@page
@using SailingWeb.Data;
@model ManageRaceModel
@{
    ViewData["Title"] = "ManageRace";
}
@using static RaceHelpers;
<h2>Manage Race</h2>

<html>
<head>

    <script src="~/js/countup_timer.min.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            width: 100%;
            padding: 5px;
        }
        /* Style buttons */
        .btn {
            background-color: DodgerBlue; /* Blue background */
            border: none; /* Remove borders */
            color: white; /* White text */
            padding: 12px 16px; /* Some padding */
            font-size: 16px; /* Set a font size */
            cursor: pointer; /* Mouse pointer on hover */
        }

            /* Darker background on mouse-over */
            .btn:hover {
                background-color: RoyalBlue;
            }
    </style>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <style>

        table, th, td {
            border: 1px solid black;
            padding: 5px;
            width: 200px;
            overflow: auto;
            overflow-y: visible;
        }
    </style>

    <script src="~/js/bundle.js" type="text/javascript">
        // index.js is the transpiled index.ts
        //SystemJS.import('/js/managerace.js');
    </script>
    <!--<script src="https://github.com/makeusabrew/bootbox/releases/download/v4.4.0/bootbox.min.js"></script>-->
</head>
<body>
    @if (ManageRaceModel.RaceNameStatic != null)
    {

        <button id="removerace" style="display:inline" class="btn-danger">Remove race</button>
    }

    @if (ManageRaceModel.RaceNameStatic == null)
    {
        if (Program.Globals.Todayseventsmanage.Count != 0)
        {
            <form method="POST">
                <select id="select" class="form-control" asp-for="RaceName">
                    @foreach (Calendar race in Program.Globals.Todayseventsmanage)
                    {
                        <option value="@string.Concat(race.Summary, "abc123", race.DateTime)">@race.Summary, @race.DateTime.TimeOfDay</option>
                    }
                </select>
                <input type="submit" />
            </form>
        }
        else
        {
            @: Apologies but there is no race today.
        }
    }
    else if (Sql.GetStartTime(ManageRaceModel.RaceNameStatic) != new DateTime())
    {
        <div>
            <button style="display:inline" onclick="refresh.reload();" class="btn btn-success">Refresh</button>


            <form method="get" style="display:inline" action="/FinishRace">
                @if (Sql.NoOfLaps(ManageRaceModel.RaceNameStatic) != 0)
                {
                    <button style="display:inline" type="submit" class="btn btn-link">Finish race</button>
                }
                else
                {
                    <button style="display:none" id="finishbutton" type="submit" class="btn btn-link">Finish race</button>

                }
            </form>
        </div>
        <p id="demo" onclick="editstarttime()">Elapsed Time: </p>
        <div id="table-wrapper">
            <table id="table1">
                <tr>
                    <th>Helm</th>
                    <th>Crew</th>
                    <th>Boat Name</th>
                    <th>Boat Number</th>
                    <th>Lap</th>
                    <th>Py</th>
                    <th>Notes</th>
                    <th>Corrected Time</th>
                    <th>Place</th>
                    @for (int i = (Sql.NoOfLaps(ManageRaceModel.RaceNameStatic)); i > (0); i--)
                    {
                        <th>@String.Concat("Lap ", i)</th>
                    }
                </tr>
                @if (1 == 1)
                {
                    var u = 0;
                    @foreach (var person in Sql.GetRacers(ManageRaceModel.RaceNameStatic))
                    {
                        <tr>
                            <td id="@u" data-internalid="@u" data-string="@Html.Raw(Json.Serialize(person)).ToString()">@person.Name</td>
                            <td>@person.Crew</td>
                            <td>@person.Boat</td>
                            <td>@person.BoatNumber</td>
                            <td>
                                <button class="btn" data-item='@Html.Raw(Json.Serialize(person)).ToString()' data-int="@u">
                                    Lap
                                </button>

                            </td>
                            <td>@person.Py</td>
                            <td>@person.Notes</td>
                            <td>@Sql.CorrectedTime(ManageRaceModel.RaceNameStatic, person).ToString(@"hh\:mm\:ss")</td>


                            <td>
                                @(Sql.PlaceOf(ManageRaceModel.RaceNameStatic, person))
                            </td>



                            @for (int i = Sql.NoOfLaps(ManageRaceModel.RaceNameStatic); i > (0); i--)
                            {
                                try
                                {
                                    if (Sql.GetLaps(person, ManageRaceModel.RaceNameStatic).Where(x => x.LapNumber.Equals(i)).First().LapNumber == i)
                                    {
                                        <td data-0="@Html.Raw(Json.Serialize(person)).ToString()" data-1="@i"
                                            data-2="@Sql.GetLaps(person, ManageRaceModel.RaceNameStatic).Where(x => x.LapNumber.Equals(i)).FirstOrDefault().LapTime.ToString(@"hh\:mm\:ss")">
                                            @Sql.GetLaps(person, ManageRaceModel.RaceNameStatic).Where(x => x.LapNumber.Equals(i)).FirstOrDefault().LapTime.ToString(@"hh\:mm\:ss")

                                        </td>
                                    }
                                }
                                catch
                                {
                                    <td></td>

                                }
                            }


                        </tr>
                        u++;
                    }

                }
            </table>
        </div>

    }
    else if (Sql.GetStartTime(ManageRaceModel.RaceNameStatic) == new DateTime())
    {<form id="button" method="get">
            <button style="visibility:collapse"></button>
        </form>
        <button style="visibility:collapse; display:none;" id="startracebutton" class="btn btn-primary">Click to start race.</button>


        @if (ManageRaceModel.RaceNameStatic != null)
        {

            <!--Try to display-->
            try
            {
                var list = Sql.GetRacers(ManageRaceModel.RaceNameStatic);
                <!-- <label for="table1">List of racers: </label> -->
                <table id="table1">
                    <tr>
                        <th>Helm</th>
                        <th>Crew</th>
                        <th>Boat Name</th>
                        <th>Boat Number</th>
                        <th>Options</th>
                    </tr>
                    @for (int i = 0; i < Sql.GetRacers(ManageRaceModel.RaceNameStatic).Count; i++)
                    {
                        <tr>
                            <td>@Sql.GetRacers(ManageRaceModel.RaceNameStatic)[i].Name</td>
                            <td>@Sql.GetRacers(ManageRaceModel.RaceNameStatic)[i].Crew</td>
                            <td>@Sql.GetRacers(ManageRaceModel.RaceNameStatic)[i].Crew</td>
                            <td>@Sql.GetRacers(ManageRaceModel.RaceNameStatic)[i].Boat</td>
                            <td>@Sql.GetRacers(ManageRaceModel.RaceNameStatic)[i].BoatNumber</td>
                            <td>
                                <button class="btn" onclick="ajax4(@i, '@string.Concat(ManageRaceModel.RaceNameStatic.Summary,"abc123", ManageRaceModel.RaceNameStatic.DateTime)')" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-close"> Remove</i></span>
                                </button>
                            </td>

                        </tr>
                    }
                </table>
            }
            catch
            {
                <p1> This race does not exist.</p1>


            }


        }


        <script>
            function ajax4(index, race1) {
                $.ajax({
                    url: "/Folder/RemoveBoat",
                    data: { indexof: index, race: race1 },
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {

                        alert("done");
                        location.reload();
                    }

                });
            }


        </script>



    }


    <div style="display:none" id="dialog-form" title="Edit data.">
        <form>
            <fieldset>
                <label for="password">Change time</label>
                <input name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
    <div id="clock"></div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script>
        // $(function () {
        //   $("#dialog").dialog();
        //});
    </script>
    <!--<script src="~/js/managerace.js"></script>-->
    <!--<p onclick="document.getElementById('submit1').submit();">There was an error, try refreshing?</p>-->
    <script>
        function confirmer(text, func) {
            bootbox.confirm({
                message: text,
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) { func(result) }
            });
        }
        function updatePlacesInline() {

            let tbl = document.getElementById('table1'); // table reference
            for (let i = 1; i < tbl.rows.length; i++) {
                let username = document.getElementById((i - 1).toString()).getAttribute("data-string");
                let h = $.ajax({
                    url: "/Folder/ReturnPlace",
                    data: {
                        boat: username
                    },
                    headers: {
                        RequestVerificationToken:
                            $('input:hidden[name="__RequestVerificationToken"]').val()
                    },


                });
                let y = document.getElementById('table1');
                y.rows[i].deleteCell(8);
                let z = y.rows[i].insertCell(8);
                z.innerHTML = h.toString();
            }
            document.getElementById("finishbutton").style.display = "inline";




        }
        function editLap(username, lapNo, time) {
            //document.getElementById("dialog-form").title = "Edit time on lap ".concat(lapNo.toString());
            let x = document.getElementById("password")
            //x.value = "hi";
            x.value = time.toString();
            document.getElementById("dialog-form").style.display = "inline";
            let form = document.getElementById("dialog-form");
            $(function () {
                //$("#dialog").dialog();
                //$("#dialog-form").dialog();

                $("#dialog-form").dialog({
                    title: "Edit time on lap ".concat(lapNo.toString()),
                    autoOpen: false,
                    buttons: {
                        "Remove Lap": function () {
                            $.ajax({
                                url: "/Folder/RemoveTime",
                                data: {
                                    name: JSON.stringify(username), lapNumber: lapNo
                                },
                                headers: {
                                    RequestVerificationToken:
                                        $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                                success: function (data) {
                                    location.reload();
                                    updateplacesinline();
                                }

                            });
                        },
                        "Enter": function () {
                            let timeresponse = document.getElementById("password");
                            $.ajax({
                                url: "/Folder/UpdateTime",
                                data: {
                                    name: JSON.stringify(username), lapNumber: lapNo, lapTime: timeresponse.value
                                },
                                headers: {
                                    RequestVerificationToken:
                                        $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                                success: function (data) {
                                    location.reload();
                                    updateplacesinline();
                                }

                            });
                        },
                        Cancel: function () {
                            $("#dialog-form").dialog("close");
                        }
                    },
                    close: function () {

                    }
                });
                $("#dialog-form").dialog("open");
            });
        }
        function editstarttime() {
            //document.getElementById("dialog-form").title = "Edit start time";
            let x = document.getElementById("password")
            //x.value = "hi";,
            x.value = '@Sql.GetStartTime(ManageRaceModel.RaceNameStatic).ToString()';
            document.getElementById("dialog-form").style.display = "inline";
            let form = document.getElementById("dialog-form");
            $(function () {
                //$("#dialog").dialog();
                //$("#dialog-form").dialog();

                $("#dialog-form").dialog({
                    title: "Edit start time",
                    autoOpen: false,
                    buttons: {
                        "Enter": function () {
                            let timeresponse = document.getElementById("password");
                            $.ajax({
                                url: "/Folder/UpdateRaceTime",
                                data: {
                                    racecal: JSON.stringify(@Html.Raw(Json.Serialize(ManageRaceModel.RaceNameStatic))), racetime: timeresponse.value
                                },
                                headers: {
                                    RequestVerificationToken:
                                        $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                                success: function (data) {
                                    location.reload();
                                    updateplacesinline();
                                }

                            });
                        },
                        Cancel: function () {
                            $("#dialog-form").dialog("close");
                        }
                    },
                    close: function () {

                  }
                });
                $("#dialog-form").dialog("open");
            });
        }
    </script>

</body>

</html>