@page
@model SailingWeb.Pages.ManageRaceModel
@{
    ViewData["Title"] = "ManageRace";
}

<h2>Manage Race</h2>

<html>
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- bootbox code -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/moment-timezone-with-data-2012-2022.js"></script>

    <style>

        table, th, td {
            border: 1px solid black;
            padding: 5px;
            width: 200px;
            overflow: auto;
            overflow-y: visible;
        }
    </style>
</head>
<body onload="onloader();">

    @if (ManageRaceModel.RaceNameStatic == null)
    {
        <form method="POST">
            <select id="select" class="form-control" asp-for="RaceName">
                @foreach (Calendar race in Program.Globals.Todaysevents)
                {
                    <option value="@string.Concat(race.Summary, "abc123", race.DateTime)">@race.Summary, @race.DateTime.TimeOfDay</option>
                }
            </select>
            <input type="submit" />
        </form>
    }
    else
    {
        <div>
            <form id="submit1" style="display:inline" method="post">
                <button style="visibility:collapse; display:none;" id="startracebutton" onclick="startrace()" class="btn btn-primary">Click to start race.</button>
            </form>
            <form id="submit" style="display:inline" method="get">
                <button style="display:inline"type="submit" class="btn btn-success">Refresh</button>
            </form>
            <button style="display:inline" onclick="removerace()" class="btn btn-danger" >Remove race</button>
            <form method="get" style="display:inline" action="/FinishRace">
                @if (ManageRaceModel.NoOfLaps != 0)
                {
                    <button style="display:inline" type="submit" class="btn btn-link">Finish race</button>
                }
                else
                {
                    <button style="display:none" id="finishbutton" type="submit" class="btn btn-link">Finish race</button>

                }
            </form>
        </div>
        <p id="demo"></p>
        <div id="table-wrapper">
            <table id="table1">
                <tr>
                    <th >Helm</th>
                    <th>Crew</th>
                    <th>Boat Name</th>
                    <th>Boat Number</th>
                    <th>Lap</th>
                    <th>Py</th>
                    <th>Notes</th>
                    <th>Corrected Time</th>
                    <th>Place</th>
                    @for (int i = ManageRaceModel.NoOfLaps; i > (0); i--)
                    {
                        <th>@String.Concat("Lap ", i)</th>
                    }
                </tr>
                @if (1 == 1)
                {
                    var u = 0;
                    @foreach (KeyValuePair<Data.BoatsTidy, List<Data.BoatLap>> key in ManageRaceModel.Race.Item2)
                    {
                        <tr>
                            <td id="@u" data-internalid="@u" data-string="@Html.Raw(Json.Serialize(key.Key)).ToString()">@key.Key.Name</td>
                            <td>@key.Key.Crew</td>
                            <td>@key.Key.Boat</td>
                            <td>@key.Key.BoatNumber</td>
                            <td>
                                <button class="btn" data-int="@u" onclick="
                                newlap(@Html.Raw(Json.Serialize(key.Key)).ToString(), this.getAttribute('data-int'));">
                                    Lap
                                </button>

                            </td>
                            <td>@key.Key.Py</td>
                            <td>@key.Key.Notes</td>
                            <td>@ManageRaceModel.CorrectedTime(key.Key).ToString(@"hh\:mm\:ss")</td>


                            <td>
                                @(ManageRaceModel.PlaceOf(key.Key))
                            </td>



                            @for (int i = ManageRaceModel.NoOfLaps; i > (0); i--)
                            {
                                try
                                {
                                    if (key.Value.Where(x => x.LapNumber.Equals(i)).First().LapNumber == i)
                                    {
                                        <td onclick="editLap(@Html.Raw(Json.Serialize(key.Key)).ToString(), @i, '@key.Value.Where(x => x.LapNumber.Equals(i)).FirstOrDefault().LapTime');">
                                            @key.Value.Where(x => x.LapNumber.Equals(i)).FirstOrDefault().LapTime.ToString(@"hh\:mm\:ss")

                                        </td>
                                    }
                                }
                                catch
                                {
                                    <td></td>

                                }
                            }


                        </tr>
                        u++;
                    }

                }
            </table>
        </div>

    }



    <div style="display:none" id="dialog-form" title="Edit data.">
        <form>
            <fieldset>
                <label for="password">Change time</label>
                <input name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>
    <div id="dialog" title="Dialog Title" style="display:none">I'm a dialog</div>

    <script>
        $("#dialog").dialog({ autoOpen: false });
        $("#opener").click(function () {
            $("#dialog").dialog("open");
        });
    </script>
    <script src="~/js/countup_timer.min.js"></script>
    <script>
        function loaddatad(string, i) {

            $(i).data(JSON.parse(string));
                    //tbl.rows[i].cells[0].data();
                
        }

        async function returnPlace(username) {
            const result = await $.ajax({
                url: "/Folder/ReturnPlace",
                data: {
                    boat: username
                },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },


            });
            return result;

        }
        async function updatePlaces() {

            var tbl = document.getElementById('table1'); // table reference
            for (i = 1; i < tbl.rows.length; i++) {
                username = document.getElementById(i - 1).getAttribute("data-string");
                var h = await returnPlace(username);
                document.getElementById('table1').rows[i].deleteCell(8);
                let x = document.getElementById('table1').rows[i].insertCell(8);
                x.innerHTML = h.toString();
            }
            document.getElementById("finishbutton").style.display = "inline";




        }
        function finishrace() {
            window.location = ""

        }
        function removerace() {
            bootbox.confirm({
                size: "small",
                message: "Are you sure you want to delete this race? You will not be able to get it back!",
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Folder/RemoveRace",
                            headers: {
                                RequestVerificationToken:
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (data) {
                                document.getElementById("submit").submit();
                            }

                        });

                    }
                }
            })


        }
        function editLap(username, lapNo, time) {
            document.getElementById("dialog-form").title = "Edit time for ".concat(username.name).concat(" on lap ").concat(lapNo.toString());
            document.getElementById("password").value = time;
            document.getElementById("dialog-form").style.display = "inline";
            $("#dialog-form").dialog({
                autoOpen: false,
                buttons: {
                    "Remove Lap": function () {
                        $.ajax({
                            url: "/Folder/RemoveTime",
                            data: {
                                name: JSON.stringify(username), lapNumber: lapNo
                            },
                            headers: {
                                RequestVerificationToken:
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (data) {
                                document.getElementById("submit").submit();
                                updatePlaces();
                            }

                        });
                    },
                    "Enter": function () {
                        $.ajax({
                            url: "/Folder/UpdateTime",
                            data: {
                                name: JSON.stringify(username), lapNumber: lapNo, lapTime: document.getElementById("password").value
                            },
                            headers: {
                                RequestVerificationToken:
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (data) {
                                document.getElementById("submit").submit();
                                updatePlaces()
                            }

                        });
                    },
                    Cancel: function () {
                        $("#dialog-form").dialog("close");
                    }
                },
                close: function () {
                }
            });
            $("#dialog-form").dialog("open");
            /*
                .dialog({
                autoOpen: true,
                height: 400,
                width: 350,
                modal: true,
                buttons: {
                    "Create an account": function () {
                        $.ajax({
                            url: "/Folder/UpdateTime",
                            data: {
                                name: JSON.stringify(username), lapNumber: lapNo, lapTime: time
                            },
                            headers: {
                                RequestVerificationToken:
                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                            },
                            success: function (data) {
                                document.getElementById("submit").submit();
                            }

                        });
                    },
                    Cancel: function () {
                        dialog.dialog("close");
                    }
                },
                close: function () {
                }
            });
            */
        }
        function newlap(boatin, rowNumber) {
            var lapno;
            rowNum = parseInt(rowNumber);
            $.ajax({
                url: "/Folder/GetNextLap",
                data: { boat: JSON.stringify(boatin) },
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (resulting) {
                    lapno = JSON.parse(resulting);
                    var lap = lapno + 1;
                    $.ajax({
                        url: "/Folder/NoOfLaps",
                        headers: {
                            RequestVerificationToken:
                                $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                        success: function (data) {
                            ajax = 0;
                            ajax = JSON.parse(data);
                            $.ajax({
                                url: "/Folder/NewLap",
                                data: { boat: JSON.stringify(boatin), lapTime: new Date().toJSON(), lapNumber: lap },
                                headers: {
                                    RequestVerificationToken:
                                        $('input:hidden[name="__RequestVerificationToken"]').val()
                                },
                                success: function (data) {
                                    var tbl = document.getElementById('table1'), // table reference
                                        i;
                                    console.log(data);
                                    muchFurther = ajax - lap;
                                    if (muchFurther == (-1)) {
                                        for (i = 0; i < tbl.rows.length; i++) {
                                            if (i == 0) {
                                                x = tbl.rows[i].insertCell(10 + muchFurther);
                                                x.innerHTML = "Lap ".concat(ajax + 1);

                                            }
                                            else {
                                                x = tbl.rows[i].insertCell(10 + muchFurther);

                                            }
                                        }
                                        x = tbl.rows[rowNum + 1].deleteCell(10 + muchFurther);
                                        x = tbl.rows[rowNum + 1].insertCell(10 + muchFurther);
                                        $.ajax({
                                            url: "/Folder/GetLapTime",
                                            data: { boat: JSON.stringify(boatin), lapNumber: lap },
                                            headers: {
                                                RequestVerificationToken:
                                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                                            },
                                            success: function (resulting) {
                                                x.onclick = function () { editLap(boatin, lap, resulting) };
                                                x.innerHTML = resulting.toString();
                                            }
                                        });
                                    }
                                    else {

                                        x = tbl.rows[rowNum + 1].deleteCell(9 + muchFurther);
                                        x = tbl.rows[rowNum + 1].insertCell(9 + muchFurther);
                                        $.ajax({
                                            url: "/Folder/GetLapTime",
                                            data: { boat: JSON.stringify(boatin), lapNumber: lap },
                                            headers: {
                                                RequestVerificationToken:
                                                    $('input:hidden[name="__RequestVerificationToken"]').val()
                                            },
                                            success: function (resulting) {
                                                x.onclick = function () { editLap(boatin, lap, resulting) };
                                                x.innerHTML = resulting.toString();
                                            }
                                        });
                                    }
                                    //
                                }

                            });







                            //document.getElementById("submit").submit();
                        }

                    });

                }
            });
            updatePlaces();

        }

        function myTimer(resulting) {

            console.log("Repeating function invoked.");
            var d = moment().tz("America/Los_Angeles");
            x = d.valueOf();
            
            f = x - resulting;

            // Create a new JavaScript Date object based on the timestamp
            // multiplied by 1000 so that the argument is in milliseconds, not seconds.
            var date = new Date(f).toLocaleTimeString();

            //var date = new moment(f).toLocaleTimeString();
            // Hours part from the timestamp
            //var hours = date.getHours();
            // Minutes part from the timestamp
            //var minutes = "0" + date.getMinutes();
            // Seconds part from the timestamp
            //var seconds = "0" + date.getSeconds();


            //var milliseconds = "0" + date.getMilliseconds();
            // Will display time in 10:30:23 format

            //var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
            new CountUpTimer(date, function (times, parameters) {
                document.getElementById("demo").innerHTML = "Elapsed Time: ".concat(times);

            });


        }
        //var time;
        function onloader() {
            $.ajax({
                url: "/Folder/GetStartTime",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (resulting) {
                    if (resulting > 0) {
                        console.log("Set repeating function");
                        myTimer(resulting);
                    }
                    else {
                        document.getElementById("startracebutton").style.visibility = "visible";
                        document.getElementById("startracebutton").style.display = "block";
                    }


                }
            });

        }
        function startrace() {


            $.ajax({
                url: "/Folder/StartRace",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    document.getElementById("submit1").submit();
                }

            });

        }
    </script>

    <!--<p onclick="document.getElementById('submit1').submit();">There was an error, try refreshing?</p>-->


</body>

</html>