@page
@using Data
@model ContactModel
@{
    ViewData["Title"] = "Race Lists:";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@Model.Message</h3>
-->
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            width: 100%;
            padding: 15px;
        }
    </style>
</head>
<body>
    @if (Program.Globals.Alerttext != "")
    {
        <script language="javascript">
        alert('@Program.Globals.Alerttext');
        </script>
        Program.Globals.Alerttext = "";
    }


    <form method="post">
        @if (Program.Globals.Todaysevents.Count == 0)
        {
            <p1>I'm afraid there is no race on today.</p1>

        }
        else if (Program.Globals.Racename.Summary == "")
        {


        }
        <!-- <label for="table2">Race Lists: </label>-->
        <select asp-for="race">

            @foreach (var race1 in Program.Globals.Todaysevents)
            {

                <option value="@Program.Globals.Todaysevents.IndexOf(race1)">@race1.Summary</option>
                
            }
        </select>


        <input type="submit" value="Select to view details" />

        <!--
           <div><label for="cal">Manage Calendar Data: </label></div>
           <div id="cal"><input type="submit" value="Enter calendar into database?" /></div>
        -->
    </form>

    <!--If we have a race name, print the race data.-->
    @if (Program.Globals.Racename.Summary != null)
    {

        <!--Try to display-->
        try
        {
            <!-- <label for="table1">List of racers: </label> -->
            <table id="table1">
                <tr>
                    <th>Helm</th>
                    <th>Crew</th>
                    <th>Boat Name</th>
                    <th>Boat Number</th>

                </tr>
                @foreach (Data.BoatsTidy boat in BoatsTidy.Tidyup(Sql.GetRacers()))
                {
                    <tr>
                        <td>@boat.Name</td>
                        <td>@boat.Crew</td>
                        <td>@boat.Boat</td>
                        <td>@boat.BoatNumber</td>

                    </tr>
                }
            </table>
        }
        catch
        {
            <p1> This race does not exist.</p1>


        }


    }



    <!--
         <iframe src="https://calendar.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=wfscweb%40gmail.com&amp;color=%236B3304&amp;ctz=Europe%2FLondon" style="border:solid 1px #777" width="400" height="600" frameborder="0" scrolling="no"></iframe>
     <!--TODO Create a new page for this.-->


</body>

